<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Week Schedule</title>
    <link rel="stylesheet" href="../static/resources/css/commons.css"
          th:href="@{/resources/css/commons.css}"/>
</head>
<head th:replace="fragments/parts::head">
    <link rel="stylesheet" href="../static/resources/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container">
        <h1 class="h1">Appointment Not Found.</h1>
        <p>The requested appointment doesn't seem to exist.</p>
        <p>You can:</p>
        <ul>
            <li>
                Go back to
                <a sec:authorize="hasRole('ROLE_VET')" href="/appointment/vet">my appointments</a>
                <a sec:authorize="hasRole('ROLE_USER')" href="/appointment/pet">my appointments</a>
            </li>
        </ul>

    </div>
</main>
<div th:replace="fragments/parts::scripts">
</div>
</body>
</html>