<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'pets')}">
<head>
<meta charset="UTF-8">
<title>Pet List</title>
</head>
<body>
	<h1 th:text="'List of Pets'">List of Pets...</h1>
	<table id="pets" class="table table-striped">
		<caption>List of Pets</caption>
		<tr>
			<th>
		</tr>
		<thead>
			<tr>
				<th colspan="1">Pet Name</th>
				<th colspan="1">Owner Name</th>
				<th colspan="1">Birth Date</th>
				<th colspan="1">Pet Type</th>
				<th colspan="1">Visits</th>
			</tr>
			<tr th:each="pet : ${pets}">
				<td th:text="${pet.getName()}">Name</td>
				<td th:text="${pet.getOwner()}">Owner</td>
				<td th:text="${pet.getBirthDate()}">Birth Date</td>
				<td th:text="${pet.getPetType()}">Pet Type</td>
				<td th:text="${pet.getVisits()}">Visits</td>
				<td></td>
			</tr>
		</thead>
	</table>
</body>
</html>