<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Pets</title>
    <link rel="stylesheet" href="../static/resources/css/commons.css"
          th:href="@{/resources/css/commons.css}"/>
</head>
<head th:replace="fragments/parts::head">
    <link rel="stylesheet" href="../static/resources/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container">
        <div class="table-wrapper">
            <h1 class="h1">My Pets</h1>
            <table class="table">
                <thead>
                <tr>
                    <th colspan="1">#</th>
                    <th colspan="1">Pet Name</th>
                    <th colspan="1">Date Of Birth</th>
                    <th colspan="1">Pet Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pet,iter : ${pets}" th:object="${pet}">
                    <td th:if="${param.page != null}" th:text="${param.page[0]} * 8 + ${iter.index + 1}">index</td>
                    <td th:if="${param.page == null}" th:text="${iter.index + 1}">index</td>
                    <td th:text="|*{name}|">name</td>
                    <td th:text="|*{#dates.format(birthDate, 'dd-MMM-yyyy')}|">date</td>
                    <td th:text="|*{getPetType()}|">Pet Type</td>
                    <td>
                        <a class="btn btn-secondary" th:href="|/pet/*{id}|">View</a>
                        <a sec:authorize="hasAnyRole('ROLE_OWNER','ROLE_ADMIN')" class="btn btn-secondary" th:href="|/pet/*{id}/edit|">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example" th:if="!${#lists.isEmpty(pets)}">
            <ul class="pagination">
                <li class="page-item" th:classappend="!${pets.hasPrevious()}? 'disabled'">
                    <a class="page-link"
                       th:href="${pets.hasPrevious()} ? '/vet/pets?page=' + ${pets.previousPageable().getPageNumber()}" >Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, pets.getTotalPages() - 1)}">
                    <a class="page-link" href="#" th:href="|/vet/pets?page=${i}|" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="!${pets.hasNext()}? 'disabled'">
                    <a class="page-link"
                       th:href="${pets.hasNext()} ? '/vet/pets?page=' + ${pets.nextPageable().getPageNumber()}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</main>

<div th:replace="fragments/parts::scripts">
</div>
</body>
</html>