<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Appointments</title>
    <link rel="stylesheet" href="../static/resources/css/commons.css"
          th:href="@{/resources/css/commons.css}"/>
</head>
<head th:replace="fragments/parts::head">
    <link rel="stylesheet" href="../static/resources/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container">
        <div class="table-wrapper">
            <h1 class="h1">My Appointments</h1>
            <div>
            	<a sec:authorize="hasAnyRole('ROLE_OWNER','ROLE_ADMIN')" class="btn btn-primary" th:href="|/appointments/pet/add|">
            	BOOK NEW APPOINTMENT</a>
            </div>
            <div>
            	<a sec:authorize="hasAnyRole('ROLE_VET','ROLE_ADMIN')" class="btn btn-primary" th:href="|/appointments/vet/add|">
            	BOOK NEW APPOINTMENT</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th sec:authorize="hasRole('ROLE_VET')">Pet</th>
                    <th sec:authorize="hasRole('ROLE_OWNER')">Vet</th>
                    <th sec:authorize="hasRole('ROLE_OWNER')">Pet</th>
                    <th>Pet Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment,iter : ${appointments}" th:object="${appointment}">
                    <td th:if="${param.page != null}" th:text="${param.page[0]} * 8 + ${iter.index + 1}">index</td>
                    <td th:if="${param.page == null}" th:text="${iter.index + 1}">index</td>

                    <td th:text="*{#dates.format(date, 'dd-MMM-yyyy HH:mm')}">date</td>
                    <td sec:authorize="hasRole('ROLE_VET')"
                        th:text="*{pet.name}">pet</td>
                    <td sec:authorize="hasRole('ROLE_OWNER')"
                        th:text="*{vet.firstName} + ' ' + *{vet.lastName}">vet</td>
                    <td sec:authorize="hasRole('ROLE_OWNER')"
                    	th:text="*{pet.name}">pet</td>
                  	<td th:text="*{pet.petType}"></td>
                    <td>
                        <a sec:authorize="hasRole('ROLE_OWNER')" class="btn btn-primary" th:href="|/appointments/pet/*{id}|">View</a>
                        <a sec:authorize="hasRole('ROLE_VET')" class="btn btn-primary" th:href="|/appointments/vet/*{id}|">View</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example" th:if="!${#lists.isEmpty(appointments)}">
            <ul class="pagination">
                <li class="page-item" th:classappend="!${appointments.hasPrevious()}? 'disabled'">
                    <a sec:authorize="hasRole('ROLE_VET')" class="page-link"
                       th:href="${appointments.hasPrevious()} ? '/appointment/vet?page=' + ${appointments.previousPageable().getPageNumber()}" >Previous</a>
                    <a sec:authorize="hasRole('ROLE_OWNER')" class="page-link"
                       th:href="${appointments.hasPrevious()} ? '/appointment/pet?page=' + ${appointments.previousPageable().getPageNumber()}" >Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, (appointments.getTotalPages() == 0 ? 0 : appointments.getTotalPages() - 1))}">
                    <a sec:authorize="hasRole('ROLE_VET')" class="page-link" href="#" th:href="|/appointment/vet?page=${i}|" th:text="${i + 1}">1</a>
                    <a sec:authorize="hasRole('ROLE_OWNER')" class="page-link" href="#" th:href="|/appointment/pet?page=${i}|" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="!${appointments.hasNext()}? 'disabled'">
                    <a sec:authorize="hasRole('ROLE_VET')" class="page-link"
                       th:href="${appointments.hasNext()} ? '/appointment/vet?page=' + ${appointments.nextPageable().getPageNumber()}">Next</a>
                    <a sec:authorize="hasRole('ROLE_OWNER')" class="page-link"
                       th:href="${appointments.hasNext()} ? '/appointment/pet?page=' + ${appointments.nextPageable().getPageNumber()}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</main>

<div th:replace="fragments/parts::scripts">
</div>
</body>
</html>